@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", Inter, system-ui, -apple-system, sans-serif;
  background-color: #f1f5f9;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #a5b4fc;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
